@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(275, 100%, 97%);
}

.header-img {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 16%;
}

.container div {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.container div .faqs-header {
  margin-left: 26%;
}

.faqs-header span {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  padding-left: 14px;
}

.faq-line {
  display: flex;
}
